<h3 style="text-align: center">Welcome</h3>
<br />
<br />
<p>Hey {{ name }},</p>
<p>Welcome to PricePal. Shopping with product price comparison just became as convenient as never before!</p>
<p>We're pleased to have you join us. Please click on the button below to confirm your email.</p>
<p style="text-align: center">
  <button style="background-color: #2199e8">
    <a href="{{ url }}" style="text-decoration: none; color: white">Confirm your account</a>
  </button>
</p>
<br />
<p>If you have any questions, please don't hesitate to reach out and we'll do our best to help.</p>
<p>If you did not intend to register an account, someone may have registered with your information by mistake. Please contact Customer Support using the contact details found at:</p>
<p><a href="https://www.pricepal.com/contactus">https://www.pricepal.com/contactus</a></p>
